@page

<form id="f2" method="post" enctype="multipart/form-data" class="form-group" asp-action="AddImg" asp-controller="Users">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="file1" name="title">
        <label class="custom-file-label" for="file1">Choose file</label>
    </div>
    <input class="m-3 btn btn-outline-primary" type="submit" id="submit" value="Submit"/>
</form>

