@page

<form id="f2" method="post" enctype="multipart/form-data" class="form-group" asp-action="AddImg" asp-controller="Users">
    <div class="list-group-item">
        <label for="file1">File</label><br/>
        <input type="file" id="file1" name="title"/>
    </div>
    <div class="list-group-item">
        <input type="submit" id="submit" value="Submit"/>
    </div>
</form>