@page
@{
    ViewData["Title"] = "Home page";
}
@* *@
@* <div class="list-group"> *@
@*     @{ *@
@*         foreach (var post in Model.List) *@
@*         { *@
@*             Html.Display(post.Body); *@
@*         }     *@
@*     } *@
@* </div> *@
