@page
@model PersonalBlog.Web.Pages.Login

<form id="f2" method="post" enctype="multipart/form-data" class="form-group" asp-action="AuthUser" asp-controller="Users">
    <div class="list-group-item">
        <label for="login">Login</label><br/>
        <input type="text" id="login" name="login" value="login"/>
    </div>  
    <div class="list-group-item">
        <label for="password">Password</label><br/>
        <input type="text" id="password" name="password" value="password"/>
    </div>
    <div class="list-group-item">
        <input type="submit" id="submit" value="Log in"/>
    </div>
</form>