@model PersonalBlog.Web.Pages.ShowPostsByUser
@{
    var x = $"imgs/{Model.ImgLink}";
}
@if(Model.ImgLink != null){
    <img src="~/@x" alt="text" height="300px"/>
}
<div class="list-group"> 
    @foreach (var post in Model.List)
    {
        <form style="margin: 20px" class="list-inline-item" action="/Posts/ShowPostById">
                @Markdown.ParseHtmlString( "<h5>" + post.Header + "</h5>" + post.Content)
                <input type="hidden" name="postHeader" value="@post.Header"/>
                <input class="float-right btn btn-outline-dark" type="submit" value="Show full post" />
        </form>
    } 
</div>