@using Westwind.AspNetCore.Markdown;
@model PersonalBlog.Web.Pages.ShowPosts

<div class="list-group"> 
    @foreach (var post in Model.List)
    {
        <div class="list-group-item">
            @Markdown.ParseHtmlString( "<h3>" + post.Header + "</h3>" + post.Content)<br/>   
        </div>
    } 
</div>    