@model PersonalBlog.Web.Views.Login

<form id="f2" method="post" enctype="multipart/form-data" class="form-group" asp-action="LogIn" asp-controller="Users">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Login</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="login" name="login">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Password</span>
        </div>
        <input type="password" class="form-control" aria-describedby="basic-addon2" id="password" name="password">
    </div>
    <input class="m-3 btn btn-outline-primary" type="submit" id="submit" value="Submit"/>
</form>

